

#allPrizes {
  border: 2px solid red;
}
#prizeBlock {
 display: flex;
 justify-content: space-around;
 border: 3px solid green;
}

#prizeBlock > div {
display: flex;
flex-direction: column;
border: 2px solid purple;
text-align: center;
}
#allCustomers {
  display: flex;
  justify-content: space-around;
}
#customerCards {
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 2px solid
}
