

#allPrizes {
  border: 2px solid red;
}
#prizeBlock {
 display: flex;
 justify-content: space-around;
 border: 3px solid green;
}

#prizeBlock > div {
display: flex;
flex-direction: column;
border: 2px solid purple;
text-align: center;
width: 200px;
height: 200px;
}

#name {
  display: flex;
}

#customerCard  {
  display: flex;
  justify-content: space-around;
  border: 4px solid blue
}
]
