h1 {
  color: dodgerblue;
  border-bottom: 2px solid;
}

h2 {
  color: dodgerblue;
  text-align: center;
}
/* 
Awesome use of FlexBox.
 */
#prizeBlock {
 display: flex;
 justify-content: space-around;
}

#prizeName {
  border-bottom: 1px solid black;
  background-color: dodgerblue;
  flex: 1;
  color: white;
}

.value {
  flex: 1;
}

#prizeBlock > div {
display: flex;
flex-direction: column;
text-align: center;
border: 1px solid dodgerblue;
width: 100px;
height: 100px;
}
#allCustomers {
  display: flex;
  justify-content: space-around;
}
#customerCards {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 border: 2px solid dodgerblue;
 width: 200px;
 height: 200px;
}

button {
  background-color: dodgerblue;
  color: white;
}

button:disabled {
  background-color: grey;
}
/* 
STELLAR! Media queries, man!  This skill is very valuable in today's mobile world.
 */
@media screen and (max-width: 550px) {
  #prizeBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

  #allCustomers {
    display: flex;
    flex-direction: column
  }
  #prizeBlock > div {
    display: flex;
    text-align: center;
    border: 1px solid dodgerblue;
    width: 100px;
    height: 100px;
}

#customerCards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid dodgerblue;
  width: 200px;
  height: 200px;
 }

}
